<!DOCTYPE html>
<html>
    <head>
        <title><-- TITLE --></title>
        <meta name="<-- META DESCRIPTION -->" content="<-- META CONTENT -->" />
        <link href="../../css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
        <meta property="og:title" content="<-- OG:TITLE -->" />
        <meta property="og:image" content="<-- OG:IMAGE -->" />
        <script>
            let data = <%- JSON.stringify(data) %>;
            window.__DATA__ = data;
        </script>
    </head>
    <body>
        <div id="root"><%- reactApp %></div>
        <script src="../../dist/index.js" charset="utf-8"></script>
        <script src="../../dist/vendor.js" charset="utf-8"></script>
    </body>
</html>
